
html {
	font-size: 10px;
	font-family: Fish, Georgia, Verdana;
	line-height: 10px;
	letter-spacing: 1px;
	font-weight: 700;
	text-align: center;
}

* {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
}

.full-home-workspace {
	width: 100%;
	padding: 0 10vw 0 10vw;
	background-color:white;
}

.top-banner-space {
	height: 10vh;
}

.light-text {
	font: 100;
	font-weight: 100;
}

.h1 {
	font-weight: 600;
	font-size: 2em;
	color:rgb(0, 5, 47);
}

.working-area {
	width: 100%;
	height: 80vh;
	background-color: rgb(238, 245, 245);
}

.label-with-padding {
	padding:1vh 0 1vh 0;
}

.login-button-area {
	height: 30%;
	width: 50%;
	margin: 0 25% 0 25%;
	padding: 4vh 4vh 4vh 4vh;
}

.logged-in-area {
	padding-top: 0.5vh;
	width: 80%;
	height: 50vh;
	margin: 0 10% 0 10%;
	border-style: ridge;
	border-width: 1px;
	border-color: rgb(167, 152, 152);
}
.main-user-info {
	width: 70%;
	margin: 0 10% 0 20%;
	text-align: left;
}

#welcome {
	height: 8vh;
	padding: 2vh 5vw 2vh 5vw;
}
#intro-space {
	height: 20vh;

}
#login-buttons-area {
	padding-top: 0.5vh;
	width: 80%;
	height: 30vh;
	margin: 0 10% 0 10%;
	border-style: ridge;
	border-width: 1px;
	border-color: rgb(167, 152, 152);

}

.user-alias {
    float: left;
    height: 10vh;
    margin: 3vh 2vw 3vh 0;
}

.top-buffer {
    margin-top:20px;
    align: left;
    indent: 5vw;
    }

.hidden-post-area {
    position: absolute;
    left: 10vw;
    top: 10vh;
    height: 100%;
    width: 80vw;
    background-color: white;
    z-index:1;
}

.back-button {
    position: relative;
    float: left;
    margin-top: 1vw;
    margin-right: 5.5vw;
    padding-top: 0.3vh;
    left: 2vw;
    top: 1vw;
    width: 3vw;
    height: 3vw;
    background-color:white;
    border-style: solid;

}

#image-location {
    float: left;
    position: relative;
    margin-left: 2%;
    top: 2%;
    padding-top: 0.3vh;
}

#post-details {
    position: relative;
    width: inherit;
    float: left;
    margin-top:2%;
}
#user-details{
    top: 2%;
    margin-left: 2%;
    padding-top: 0.3vh;
    float: left;
}
#avatar {
    float: initial;
}

.single-post {
    margin-left: 2.5%;
    margin-top: 2%;
    width: 21.7%;
    height:27.5%;
    display: inline-block;
    border: 1px dotted;
}

.single-post:hover{
    cursor: pointer;
}

#image-details {
    text-align: left;
    float: left;
    margin-left: 1%;
}

#comments{
    position: inherit;
    left: 700px;
    top: 2%;
    padding-top: 0.3vh;
    margin-right: 3vh;
    text-align: left;
    }

.one-comment {
    background-color: white;
    text-align: left;

    margin: 0.3vh 2vh;
    padding-right: 3vh;
    padding-left: 0.2vh;
}

.one-comment:hover {
    background-color: #ece4ec;
    border-style: groove;
    border-width: thin;

}